.bloque__dato{
    width: 120px;
    height: 120px;
    background-color: var(--color-tercero);
    border-radius: var(--border-segundo);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8px;
    h3{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}

@media (min-width: 1200px) {

    .bloque__dato{
        width: 160px;
        height: 160px;
    }
}