.footer{
    background-color: var(--color-segundo);
    color: white;
    padding: var(--padding-seccion-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer .logo{
    font-family: var(--fuente-signatrue);
    font-size: var(--tamaño-letra-3);
}

.footer .paginas{
    text-align: center;
}

.footer .paginas ul{
    list-style: none;
    padding: 0;
}

.footer .paginas ul li a{
    text-decoration: none;
    color: var(--color-sexto);
    display: inline-block;           /* necesario para que transform funcione */
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer .paginas ul li a:hover {
    transform: translateY(-3px);     /* se desplaza hacia arriba */
    color: #ffffff;                  /* cambia a blanco */
  }

.footer .redes{
    padding: 16px 0;
}

.footer .hastag{
    padding-bottom: 8px;
    font-style: italic;
}

