.formulario__contacto{
    margin: 0 auto;
    padding: 0px 16px 16px 16px;
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: var(--border-segundo);
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid var(--color-tercero);
    /* 🎯 sombra */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.formulario__contacto form{
    display: flex;
    flex-direction: column;
    input{
        margin-top: 8px;
        margin-bottom: 8px;
        width:100%;
        border: 0px;
        background-color: var(--color-primero);
        border-radius: 16px;
        height: 40px;
        padding: 8px;
    }
    textarea{
        margin-top: 16px;
        margin-bottom: 8px;
        width:100%;
        border: 0px;
        background-color: var(--color-primero);
        border-radius: 16px;
        padding: 8px;
    }
    label{
        width: 100%;
    }
    button{
        width: max-content;
        border: 0;
        background-color: var(--color-tercero);
        padding: 16px;
        width: 100px;
        border-radius: 16px;
        margin: 16px auto 0px auto;
        font-size: var(--tamaño-letra-1);
        transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
        cursor: pointer;
    }
}

.formulario__contacto form button:hover {
    transform: translateY(-3px) scale(1.03);
    background: #ffae57; /* tono más claro del naranja */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.formulario__contacto h2{
    margin-bottom: 16px;
}

@media (min-width: 1200px) {

    .formulario__contacto{
        padding: 48px;
    }
}

